body {
    background-color: lavender;
    margin: 0;
}


.container{
    max-width: -webkit-fill-available;
    margin: 1rem 2rem;
    margin-top: 70px;
}

.card-grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
    gap:1rem;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.4);
    transform-style: preserve-3d;
    transform: perspective(1200px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    transition: 180ms;
    cursor: pointer;
}

.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.6);
}
.card.flip {
    --rotate-y: 180deg;
}

.card .front{
    left: 0;
}

.card .front,
.card .back {
    position: absolute;
    padding: 1em;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
}

.flashcard-option{
    margin-top: 0.25rem;
    font-size: .75rem;
}

.flashcard-option:first-child{
    margin-top: 0;
}

#gategory{
    width: 150px;
}

.header{
    display: flex;
    position: fixed;
    top:0;
    z-index: 99;
    width:-webkit-fill-available;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.2);
    padding: 0 1.3rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.form-group > label{
color:darkslategray;
font-size: .75rem;
margin-bottom: .25rem;
}

.btn{
    background-color: lightgreen;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: .5rem;
}

.btn:hover{
   background-color: rgb(106, 207, 106);
}